.toast-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  
 
  }

  h2{
    font-family: monospace;
  }
  label{
    
    font-family: monospace;
  }

  a{
    font-family: monospace;
  }