<!doctype html>
<html>
 <head>
   
 <title>Meadowlark Travel</title>
 
<link rel="stylesheet" href="signup.css">
 
 </head>
 <body>
    <head>
        {{!-- <img src="public\img\logo.jfif" alt="Logo"> --}}
    </head>
 {{{body}}}
 </body>
</html>