
<div id="main-holder" >

    <h1 id="'Signup Header">
        Sign Up
    </h1>
    <form id="SignUp-form" action="/api/auth/signUp" method="POST">
    <label for="username">username</label>
    <input type="text" name="username" id="login-form"  class="login-form-field">
    
    <label for="email">email</label>
    <input type="email" name="email" id="login-form" class="login-form-field">
    <input type="password" name="password" id="pass" class="login-form-field" placeholder="Password">
    <input type="submit" value="SignUp" id="login-form-submit">

</form>

</div>

    
    
