<div id="main-holder" >

    <h1 id="'SignIn Header">
        Sign Up
    </h1>
<form id="SignIn-form" action="/auth/signIn" method="GET">
    <label for="name">name</label>
    <input type="text" name="username"  class="login-form-field">
    <label for="email"></label>
    <input type="email" name="email" class="login-form-field">
    <input type="password" name="password" id="pass" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">

</form>

</div>