
<div id="main-holder" >

    <h1 id="'Signup Header">
        Sign Up
    </h1>
<form id="login-form" action="/signup-process" method="POST">
    <label for="uname">uname</label>
    <input type="text" name="uname"  class="login-form-field">
    <label for="email"></label>
    <input type="email" name="email" class="login-form-field">
    <input type="password" name="password" id="pass" class="login-form-field" placeholder="Password">
    <input type="submit" value="Login" id="login-form-submit">

</form>

</div>

    
    
