
#logo{
   border: solid black 2px;
    border-radius: 50%;
}
header{
    height: 10vh;
    justify-content: start;
    display: flex;
    width: 100%;
    background-color: white;

}

h1{
    padding-left: 2vh;
    
}
#main-nav{
    display: flex;
    align-items: center;
    justify-content: right;

   
 width: 80%;
    background-color: aqua;
    margin-left: 30px;
}



body{
    /* background-image: url('bck.jpg'); */
}