.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
 
    top: 0;
    width: 100%;
    z-index: 999;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .toast-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 100%;
  }



  .footer {
    background-color: #f2f2f2;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }

  #navbarNav{
    display: flex;
    align-items: end;
  }

  #img-Preview{
    width: 150px;
    height: 120px;
}

#manage-main-div{
    display: flex;
    margin-top :3%;
    margin-left: 20px;
    align-items: center;
    flex-direction: column;
}