.adminPanel{
  position: relative;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: 500;
  }
 
  #cities-filter{
    padding: 0.2vh;
    margin: 2vw;
    width: max-content;
    text-align: center;
    border:  1px solid black;
    border-radius: 2rem;
  }

@media (max-width:767px) {
  .filter{
      width: 23vw;
  }
  
}
.search-bt{
  background-color: transparent;
  border-radius: 2px;
}

  .footer {
    background-color: #f2f2f2;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
  }

  #navbarNav{
    display: flex;
    align-items: end;
  }

  #img-Preview{
    width: 15vw;
    height: 12vw;
}

#manage-main-div{
    display: flex;
    margin-top :3%;
    flex-wrap: wrap;
    justify-content: center; 
    
  
}