body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .signUpForm{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .title{
  font-family: "lato", sans-serif;
  margin-top: 0;
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  
  }
  
  .form{
    margin:1rem;
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 10px 10px 25px 10px rgba(92, 99, 105, .2);
  }
  
  .inputContainer {
    position: relative;
    height: 30px;
    width: 90%;
    margin-bottom: 22px;
  }
  
  .input {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border: 1px solid #DADCE0;
    border-radius: 7px;
    font-size: 16px;
    padding: 0 20px;
    outline: none;
    background: none;
    z-index: 1;
  }
 
  
  .label{
   
    position: absolute;
    top: -24px;
    left: 2px;
    
    
    
    font-size: 16px;
    
    

}
  .submitBtn{
  
    display: block;
    margin-left: auto;
    padding: 10px 15px;
    border: none;
   background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;


  }
  .submitBtn:active {

  }


  
 .submitBtn:hover{
  background: darken(black, 5%) radial-gradient(circle, transparent 1%, darken(black, 5%) 1%) center/15000%;
 }

  .submitBtn:active {
    transform: scale(0.98);

    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}
  
  